@import  '../../mixins.scss';
.about {
    @include flex;
    height: 100%;
    flex-wrap: wrap;
    .card {
        @include card;
        .card-title {
            font-size: 1.5rem;
        }
        img {
            @include card_image;
        }
    }
}