@import  '../../mixins.scss';
.about {
    @include flex;
    height: 100%;
    flex-wrap: wrap;
    .card {
        width: 25%;
        border: 1px solid black;
        margin: 5%;
        padding: 5%;
        line-height: 1.5em;
        .card-title {
            font-size: 1.5rem;
        }
        img {
            margin-top: 5%;
            margin-bottom: 5%
        }
    }
}