@import  '../../mixins.scss';
.home {
    @include flex;
    height: 500px;
    img {
        @include card_image
    }
    .info {
        align-self: center;
    }
}

.products {
    @include flex;
    flex-wrap: wrap;
}