@mixin flex {
    display: flex;
    justify-content: center;
}

@mixin card {
    width: 50%;
    line-height: 1.5em;
    margin: 4% 0 10%
}

@mixin card_image {
    margin-top: 5%;
    margin-bottom: 5%
}